<section class="featured_press_section">

  <div class="featured_press_container section_container">
      {%- for block in section.blocks -%}
        {%- if block.settings.image -%}
          <div class="featured_press_image_container">
            {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

            <img class="featured_press_image Image--lazyLoad hide-no-js Image--fadeIn"
                 data-src="{{ image_url }}"
                 data-optimumx="1.2"
                 data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt | escape }}">
            <noscript>
              <img class="featured_press_image" src="{{ block.settings.image | img_url: '1000x' }}" alt="{{ block.settings.image.alt | escape }}">
            </noscript>

            <div class="press_dida">
              <h3>{{block.settings.press_title}}</h3>
              <h4>{{block.settings.press_author}}</h4>
              <div class="dida_bottom">
                <p>{{block.settings.press_headline}}</p>
                <span>{{block.settings.press_date}}</span>
              </div>
            </div>
          </div>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <div class="featured_press_footer">
    <a class="featured_link" href="/pages/press">VIEW ALL ARTICLES</a>
  </div>
</section>



{% schema %}
{
  "name": "Inspiration",
  "class": "shopify-section--featured_press",
  "max_blocks": 3,
  "settings": [
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "press_title",
          "label": "Article title",
          "default": "Article title"
        },
        {
          "type": "text",
          "id": "press_author",
          "label": "Article author",
          "default": "Article author"
        },
        {
          "type": "text",
          "id": "press_headline",
          "label": "Article headline",
          "default": "Article headline"
        },
        {
          "type": "text",
          "id": "press_date",
          "label": "Article date",
          "default": "Article date"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Featured Press",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
