  <div class="top_pattern pattern_projects"></div>

<div id="section-{{ section.id }}" class="Section" data-section-id="{{ section.id }}" data-section-type="article-list">
  {%- if blog.articles_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'blog.general.no_articles' | t: blog_title: blog.title }}</h1>
        <a href="{{ routes.root_url }}" class="EmptyState__Action Button Button--primary">{{ 'blog.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
    <div class="Blog">
      <div class="Container">

        <header class="PageHeader">
          <div class="SectionHeader SectionHeader--center">
            <h1 class="SectionHeader__Heading Heading u-h1">
              Interiors

              {%- if section.settings.show_rss -%}
                <a href="{{ blog.url }}.atom" target="_blank" class="Blog__RssLink Link Link--secondary">{% render 'icon' with 'rss' %}</a>
              {%- endif -%}
            </h1>

            {%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
              <ul class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
                <li class="HorizontalList__Item">
                  <a href="/blogs/{{ blog.handle }}" class="Heading Link Link--primary Text--subdued u-h8 {% if current_tags == blank %}is-active{% endif %}">{{ 'blog.general.all_tag' | t }}</a>
                </li>

                {%- for tag in blog.all_tags -%}
                  <li class="HorizontalList__Item">
                    <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="Heading Link Link--primary Text--subdued u-h8 {% if current_tags contains tag %}is-active{% endif %}">{{ tag }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </header>

        {%- if section.settings.show_featured_article and current_tags == blank -%}
          {%- assign articles_per_page = 13 -%}
        {%- else -%}
          {%- assign articles_per_page = 12 -%}
        {%- endif -%}

        {%- paginate blog.articles by articles_per_page -%}
          {% assign is_first_article_featured = false %}

          {%- if section.settings.show_featured_article and current_tags == blank and blog.articles.first.image -%}
            {%- assign is_first_article_featured = true -%}
          {%- endif -%}

          <div class="ArticleListWrapper_archive">
            <div class="ArticleList_archive {% if is_first_article_featured %}ArticleList--withFeatured{% endif %} Grid Grid--m">

              {%- for article in blog.articles -%}
                <div class="Grid__Cell">
                  {%- render 'article-item-projects', article: article -%}
                </div>
              {%- endfor -%}
            </div>
          </div>

          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      </div>
    </div>
  {%- endif -%}
</div>

<div class="blog__footer">
  <div class="marquee3k blog__marquee"
        data-speed="0.60">
      <div class="marquee_svg">
        <svg width="521" height="361" viewBox="0 0 521 361" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M115.611 232.786V197.042V189.214C115.612 181.689 114.118 174.237 111.214 167.284C108.31 160.332 104.052 154.014 98.6836 148.692C93.3154 143.37 86.942 139.149 79.9275 136.269C72.913 133.388 65.3947 131.906 57.8021 131.906C56.7339 131.906 55.7094 131.485 54.9541 130.737C54.1988 129.988 53.7744 128.973 53.7744 127.914C53.7744 126.855 54.1988 125.84 54.9541 125.092C55.7094 124.343 56.7339 123.922 57.8021 123.922C65.3958 123.926 72.9159 122.446 79.9326 119.568C86.9493 116.691 93.3252 112.471 98.696 107.15C104.067 101.829 108.327 95.5121 111.234 88.559C114.141 81.606 115.637 74.1534 115.637 66.6271V58.7999C115.753 51.2021 114.343 43.6575 111.489 36.6048C108.636 29.5522 104.395 23.1324 99.0153 17.719C93.6352 12.3056 87.2226 8.0067 80.1506 5.07238C73.0786 2.13807 65.4885 0.626953 57.8218 0.626953C50.1551 0.626953 42.565 2.13807 35.493 5.07238C28.421 8.0067 22.0085 12.3056 16.6283 17.719C11.2482 23.1324 7.00803 29.5522 4.15446 36.6048C1.30088 43.6575 -0.109087 51.2021 0.00658163 58.7999V209.996C0.00658163 241.644 21.9744 254.35 38.5457 254.35V197.055V23.0686C38.677 18.0881 40.7655 13.3553 44.3662 9.87865C47.9668 6.40202 52.7949 4.45642 57.8218 4.45642C62.8487 4.45642 67.6768 6.40202 71.2775 9.87865C74.8781 13.3553 76.9666 18.0881 77.0979 23.0686V102.371C77.0979 107.437 75.0678 112.294 71.454 115.876C67.8403 119.458 62.939 121.47 57.8284 121.47C56.2597 121.691 54.8242 122.466 53.7858 123.653C52.7474 124.839 52.1756 126.357 52.1756 127.927C52.1756 129.498 52.7474 131.016 53.7858 132.202C54.8242 133.388 56.2597 134.163 57.8284 134.385C62.9379 134.388 67.8372 136.401 71.4502 139.982C75.0632 143.563 77.0945 148.419 77.0979 153.483V197.042C77.0979 212.241 83.1899 226.817 94.0335 237.565C104.877 248.312 119.584 254.35 134.92 254.35V251.884C132.386 251.889 129.876 251.399 127.533 250.442C125.191 249.484 123.062 248.078 121.269 246.304C119.475 244.53 118.052 242.423 117.081 240.104C116.11 237.784 115.611 235.297 115.611 232.786V232.786Z" fill="white"/>
          <path d="M289.182 1.51766C274.946 1.51418 261.214 6.74332 250.643 16.1937C242.339 8.7925 232.047 3.93637 221.015 2.21339C209.983 0.490417 198.684 1.9745 188.485 6.48592C178.287 10.9973 169.627 18.3426 163.554 27.6321C157.481 36.9216 154.256 47.757 154.269 58.826V210.009C154.269 241.657 176.25 254.363 192.821 254.363V197.068V23.0816C192.821 18.0164 194.851 13.1587 198.465 9.57703C202.079 5.99538 206.98 3.98323 212.091 3.98323C217.201 3.98323 222.103 5.99538 225.716 9.57703C229.33 13.1587 231.36 18.0164 231.36 23.0816V210.009C231.36 241.657 253.341 254.363 269.913 254.363V197.068V23.0816C270.044 18.1011 272.132 13.3683 275.733 9.89169C279.334 6.41506 284.162 4.46946 289.189 4.46946C294.215 4.46946 299.044 6.41506 302.644 9.89169C306.245 13.3683 308.333 18.1011 308.465 23.0816V210.009C308.465 241.657 330.433 254.363 347.004 254.363V197.068V58.7868C346.993 43.5945 340.897 29.028 330.054 18.289C319.212 7.5501 304.51 1.51765 289.182 1.51766V1.51766Z" fill="white"/>
          <path d="M520.628 3.9812V1.51562C505.293 1.51563 490.586 7.55345 479.742 18.3008C468.898 29.0482 462.806 43.6248 462.806 58.8239V58.8239V102.382C462.806 107.448 460.776 112.305 457.162 115.887C453.549 119.469 448.647 121.481 443.537 121.481C442.604 121.349 441.653 121.417 440.748 121.682C439.844 121.946 439.008 122.399 438.296 123.011C437.584 123.624 437.013 124.381 436.621 125.231C436.23 126.081 436.027 127.004 436.027 127.938C436.027 128.873 436.23 129.796 436.621 130.646C437.013 131.496 437.584 132.253 438.296 132.865C439.008 133.477 439.844 133.931 440.748 134.195C441.653 134.459 442.604 134.528 443.537 134.396C448.646 134.399 453.546 136.412 457.159 139.993C460.772 143.574 462.803 148.43 462.806 153.494V197.053C462.806 212.252 468.898 226.828 479.742 237.576C490.586 248.323 505.293 254.361 520.628 254.361V251.895C518.097 251.897 515.589 251.404 513.25 250.445C510.911 249.486 508.785 248.08 506.994 246.306C505.203 244.533 503.783 242.427 502.814 240.109C501.844 237.791 501.345 235.306 501.345 232.797V197.053V189.225C501.347 181.7 499.853 174.248 496.949 167.295C494.044 160.343 489.787 154.025 484.418 148.703C479.05 143.381 472.677 139.16 465.662 136.28C458.648 133.4 451.13 131.917 443.537 131.917C442.469 131.917 441.444 131.497 440.689 130.748C439.934 129.999 439.509 128.984 439.509 127.925C439.509 126.867 439.934 125.851 440.689 125.103C441.444 124.354 442.469 123.933 443.537 123.933C451.13 123.933 458.648 122.451 465.662 119.571C472.677 116.691 479.05 112.469 484.418 107.147C489.787 101.826 494.044 95.5079 496.949 88.555C499.853 81.6021 501.347 74.1503 501.345 66.6251V58.7978V23.0796C501.345 20.5705 501.844 18.0859 502.814 15.768C503.783 13.45 505.203 11.344 506.994 9.57038C508.785 7.79676 510.911 6.39025 513.25 5.43123C515.589 4.47222 518.097 3.97949 520.628 3.9812V3.9812Z" fill="white"/>
          <path d="M385.741 1.51562V45.8699V209.981C385.741 241.629 407.709 254.335 424.28 254.335V197.04V45.8699C424.294 14.1957 402.326 1.51562 385.741 1.51562Z" fill="white"/>
          <path d="M15.7084 332.229V337.59H6.41588V342.965H15.2478V348.34H6.41588V354.445H15.7084V359.82H0.00585938V332.229H15.7084Z" fill="white"/>
          <path d="M43.1237 334.322L40.2412 338.94C38.9938 337.717 37.3225 337.013 35.5686 336.97C35.0882 336.939 34.6065 337.006 34.1536 337.168C33.7006 337.33 33.2862 337.582 32.9361 337.91C32.7052 338.136 32.5231 338.406 32.4009 338.705C32.2787 339.003 32.219 339.323 32.2254 339.645C32.2131 339.928 32.262 340.211 32.3687 340.474C32.4753 340.737 32.6374 340.975 32.844 341.171L33.2652 341.484C33.4514 341.6 33.6449 341.705 33.8443 341.797L34.4761 342.058C34.6341 342.136 34.9368 342.241 35.3448 342.397L36.3452 342.749L38.4248 343.532C39.8197 343.978 41.1123 344.691 42.2287 345.632C42.9074 346.304 43.4344 347.11 43.7748 347.998C44.1152 348.887 44.2611 349.837 44.203 350.785C44.2658 352.025 44.0806 353.265 43.6582 354.434C43.2358 355.602 42.5845 356.677 41.7417 357.595C40.6936 358.58 39.4502 359.338 38.0906 359.821C36.7311 360.303 35.285 360.501 33.8443 360.4C31.944 360.445 30.0595 360.047 28.3425 359.239C26.8222 358.467 25.443 357.448 24.2622 356.225L27.5923 351.685C28.3833 352.49 29.2668 353.199 30.2247 353.799C31.2773 354.441 32.4897 354.78 33.7259 354.777C34.7787 354.826 35.8133 354.492 36.6347 353.838C36.9633 353.567 37.2245 353.225 37.398 352.838C37.5715 352.452 37.6527 352.03 37.6351 351.607C37.6318 351.228 37.5454 350.855 37.3817 350.512C37.2181 350.17 36.9811 349.867 36.6874 349.624C35.6839 348.962 34.5888 348.448 33.4363 348.098L31.1461 347.315C29.7026 346.891 28.378 346.141 27.2764 345.124C26.0964 343.817 25.486 342.1 25.5784 340.349C25.5388 339.208 25.733 338.07 26.1493 337.005C26.5655 335.94 27.1952 334.97 28.0003 334.152C28.911 333.29 29.9906 332.621 31.1723 332.188C32.3541 331.755 33.6129 331.566 34.871 331.635C37.8445 331.611 40.7437 332.555 43.1237 334.322V334.322Z" fill="white"/>
          <path d="M69.6063 337.59H63.5648V359.767H57.1548V337.59H51.1133V332.229H69.5405L69.6063 337.59Z" fill="white"/>
          <path d="M77.1618 359.314C76.5324 358.696 76.1396 357.879 76.0509 357.006C75.9622 356.132 76.183 355.254 76.6756 354.524C77.1681 353.794 77.9016 353.257 78.7502 353.004C79.5989 352.751 80.5099 352.799 81.3269 353.139C82.1439 353.479 82.8161 354.09 83.2282 354.868C83.6402 355.645 83.7664 356.541 83.5852 357.401C83.404 358.26 82.9266 359.031 82.2349 359.58C81.5432 360.129 80.6803 360.422 79.7942 360.41C79.3037 360.411 78.8179 360.315 78.3657 360.127C77.9135 359.938 77.504 359.662 77.1618 359.314Z" fill="white"/>
          <path d="M440.505 354.924V360.299H419.261L427.593 351.298C429.23 349.525 430.747 347.647 432.134 345.675C433.112 344.304 433.691 342.693 433.805 341.018C433.833 340.512 433.749 340.007 433.561 339.536C433.372 339.065 433.083 338.641 432.713 338.291C431.996 337.723 431.089 337.443 430.173 337.509C429.702 337.483 429.232 337.559 428.793 337.73C428.355 337.901 427.959 338.164 427.632 338.5C426.823 339.438 426.404 340.646 426.461 341.879H420.038C420.161 339.32 421.18 336.885 422.92 334.991C424.958 333.195 427.578 332.182 430.304 332.136C433.031 332.091 435.683 333.016 437.781 334.743C438.652 335.606 439.335 336.637 439.787 337.773C440.24 338.908 440.453 340.124 440.413 341.344C440.391 343.536 439.657 345.664 438.32 347.41C436.981 349.119 435.492 350.708 433.871 352.159L430.949 354.924H440.505Z" fill="white"/>
          <path d="M470.41 346.551C470.41 351.612 469.094 355.452 466.461 358.07C464.435 359.9 461.792 360.914 459.051 360.914C456.31 360.914 453.667 359.9 451.641 358.07C449.008 355.461 447.692 351.621 447.692 346.551C447.692 341.48 449.008 337.628 451.641 334.993C453.663 333.154 456.307 332.135 459.051 332.135C461.795 332.135 464.439 333.154 466.461 334.993C469.102 337.549 470.419 341.402 470.41 346.551ZM458.998 337.589C458.512 337.574 458.028 337.658 457.575 337.835C457.122 338.012 456.711 338.279 456.366 338.619C454.813 340.132 454.036 342.763 454.036 346.512C454.036 350.26 454.813 352.9 456.366 354.43C457.055 355.1 457.981 355.474 458.946 355.474C459.91 355.474 460.836 355.1 461.525 354.43C463.079 352.917 463.855 350.277 463.855 346.512C463.855 342.746 463.079 340.115 461.525 338.619C460.854 337.958 459.945 337.587 458.998 337.589V337.589Z" fill="white"/>
          <path d="M482.334 359.97V337.793H478.386V332.418H488.771V359.957L482.334 359.97Z" fill="white"/>
          <path d="M498.208 359.156L510.778 337.814H498.537V332.439H520.623L504.157 360.591L498.208 359.156Z" fill="white"/>
          <path d="M201.862 335.216L197.084 338.321C196.707 337.609 196.139 337.013 195.442 336.601C194.745 336.189 193.947 335.976 193.135 335.986C192.776 335.966 192.417 336.02 192.08 336.144C191.742 336.267 191.434 336.457 191.174 336.703C190.982 336.89 190.83 337.114 190.728 337.36C190.627 337.607 190.577 337.872 190.582 338.138C190.582 338.455 190.667 338.766 190.829 339.039C190.991 339.312 191.224 339.537 191.503 339.691C191.626 339.772 191.754 339.846 191.885 339.913L192.609 340.278L193.662 340.787L196.926 342.417C198.349 343.042 199.657 343.897 200.796 344.948C201.465 345.61 201.99 346.4 202.339 347.271C202.687 348.141 202.852 349.073 202.823 350.01C202.868 352.318 201.999 354.552 200.401 356.232C199.411 357.263 198.209 358.07 196.875 358.597C195.541 359.124 194.108 359.359 192.675 359.285C190.546 359.375 188.448 358.76 186.712 357.537C185.034 356.282 183.799 354.533 183.185 352.54L188.449 350.075C188.717 351.057 189.234 351.955 189.95 352.684C190.325 353.036 190.768 353.308 191.252 353.485C191.736 353.662 192.251 353.74 192.767 353.715C193.244 353.748 193.723 353.685 194.176 353.531C194.628 353.376 195.044 353.132 195.399 352.814C195.685 352.542 195.914 352.216 196.072 351.856C196.231 351.496 196.315 351.108 196.321 350.715C196.328 350.322 196.255 349.931 196.108 349.566C195.961 349.201 195.742 348.869 195.465 348.588C194.658 347.867 193.726 347.297 192.714 346.905L190.358 345.796C188.976 345.218 187.692 344.43 186.554 343.461C185.924 342.87 185.425 342.155 185.089 341.362C184.754 340.569 184.589 339.716 184.606 338.856C184.579 337.782 184.768 336.714 185.161 335.713C185.554 334.712 186.144 333.798 186.896 333.025C187.769 332.142 188.821 331.452 189.983 331.002C191.145 330.553 192.39 330.353 193.635 330.416C195.323 330.378 196.988 330.807 198.444 331.655C199.899 332.503 201.087 333.736 201.875 335.216H201.862Z" fill="white"/>
          <path d="M222.274 336.974H218.443V359.412H212.073V336.974H208.256V331.129H212.073V321.137H218.496V331.129H222.326L222.274 336.974Z" fill="white"/>
          <path d="M229.474 331.105H235.884V346.76C235.732 348.487 236.148 350.217 237.068 351.691C237.591 352.282 238.234 352.755 238.956 353.079C239.678 353.403 240.461 353.57 241.254 353.57C242.046 353.57 242.83 353.403 243.551 353.079C244.273 352.755 244.917 352.282 245.439 351.691C246.36 350.217 246.775 348.487 246.624 346.76V331.105H253.034V346.943C253.034 350.961 252.047 353.948 250.099 355.892C248.914 357.031 247.506 357.919 245.962 358.5C244.419 359.081 242.772 359.343 241.122 359.27C239.513 359.336 237.908 359.069 236.408 358.487C234.908 357.906 233.546 357.022 232.409 355.892C230.452 353.944 229.474 350.961 229.474 346.943V331.105Z" fill="white"/>
          <path d="M280.795 334.306V315.756H287.218V359.406H280.795V355.583C279.792 356.779 278.528 357.734 277.099 358.376C275.669 359.018 274.111 359.33 272.542 359.288C270.701 359.356 268.869 359.006 267.185 358.264C265.502 357.523 264.012 356.409 262.829 355.009C260.402 352.142 259.111 348.497 259.196 344.756C259.106 342.842 259.41 340.93 260.089 339.136C260.768 337.342 261.807 335.703 263.145 334.319C264.371 333.05 265.85 332.046 267.488 331.372C269.126 330.699 270.888 330.369 272.661 330.406C274.234 330.358 275.794 330.688 277.211 331.368C278.627 332.047 279.857 333.055 280.795 334.306ZM273.398 336.12C272.342 336.09 271.293 336.303 270.334 336.742C269.375 337.181 268.532 337.834 267.87 338.65C266.426 340.408 265.67 342.621 265.738 344.886C265.673 347.127 266.431 349.314 267.87 351.043C268.53 351.862 269.373 352.517 270.332 352.956C271.292 353.395 272.342 353.607 273.398 353.574C274.428 353.595 275.451 353.404 276.402 353.014C277.354 352.623 278.213 352.041 278.926 351.304C279.714 350.45 280.321 349.448 280.71 348.356C281.099 347.265 281.262 346.107 281.19 344.951C281.268 343.77 281.107 342.585 280.719 341.465C280.33 340.345 279.721 339.313 278.926 338.429C278.219 337.682 277.362 337.09 276.409 336.693C275.457 336.295 274.431 336.1 273.398 336.12V336.12Z" fill="white"/>
          <path d="M295.524 322.755C294.951 322.18 294.563 321.45 294.408 320.657C294.253 319.864 294.338 319.043 294.652 318.297C294.967 317.552 295.497 316.916 296.175 316.468C296.853 316.02 297.65 315.781 298.465 315.781C299.28 315.781 300.077 316.02 300.756 316.468C301.434 316.916 301.964 317.552 302.278 318.297C302.593 319.043 302.678 319.864 302.523 320.657C302.368 321.45 301.98 322.18 301.407 322.755C300.613 323.501 299.56 323.916 298.465 323.916C297.371 323.916 296.318 323.501 295.524 322.755ZM295.26 331.117H301.67V359.399H295.26V331.117Z" fill="white"/>
          <path d="M312.173 334.477C315.043 331.858 318.801 330.404 322.703 330.404C326.604 330.404 330.363 331.858 333.232 334.477C334.625 335.814 335.719 337.426 336.445 339.207C337.17 340.989 337.511 342.902 337.444 344.822C337.502 346.741 337.157 348.652 336.432 350.432C335.707 352.213 334.618 353.825 333.232 355.167C330.383 357.826 326.617 359.307 322.703 359.307C318.789 359.307 315.022 357.826 312.173 355.167C310.79 353.823 309.703 352.21 308.978 350.43C308.253 348.65 307.907 346.741 307.961 344.822C307.898 342.902 308.24 340.991 308.965 339.209C309.691 337.428 310.783 335.816 312.173 334.477ZM316.727 351.214C318.333 352.731 320.465 353.576 322.683 353.576C324.901 353.576 327.033 352.731 328.639 351.214C330.184 349.473 330.982 347.203 330.863 344.888C330.948 343.696 330.779 342.5 330.369 341.376C329.958 340.253 329.315 339.227 328.481 338.365C326.889 336.947 324.824 336.162 322.683 336.162C320.542 336.162 318.477 336.947 316.885 338.365C316.05 339.227 315.407 340.253 314.997 341.376C314.587 342.5 314.418 343.696 314.503 344.888C314.384 347.203 315.182 349.473 316.727 351.214V351.214Z" fill="white"/>
          </svg>
      </div>
  </div>
</div>

<div class="top_pattern pattern_projects"></div>



<style>
  #section-{{ section.id }} .ImageHero,
  #section-{{ section.id }} .ImageHero .Heading {
    color: #ffffff;
  }

  #section-{{ section.id }} .ImageHero .Button {
    color: #1c1c1c;
    border-color: #ffffff;
  }

  #section-{{ section.id }} .ImageHero .Button::before {
    background-color: #ffffff;
  }

  {%- if settings.show_button_transition -%}
    @media (-moz-touch-enabled: 0), (hover: hover) {
      #section-{{ section.id }} .ImageHero .Button:hover {
        color: #ffffff;
      }
    }
  {%- endif -%}
</style>

{% schema %}
{
  "name": "Blog page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rss",
      "label": "Show RSS",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show filters",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_featured_article",
      "label": "Show featured article",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    }
  ]
}
{% endschema %}
