<section class="press_section">
  <div class="press_container section_container">
      {%- for block in section.blocks -%}

        {%- if block.settings.image -%}
          <div class="press_image_container">
            {% assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

            <div class="press_image_wrapper">
              <img class="press_image Image--lazyLoad hide-no-js Image--fadeIn"
                   data-src="{{ image_url }}"
                   data-optimumx="1.2"
                   data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
                   data-sizes="auto"
                   alt="{{ block.settings.image.alt | escape }}">
            </div>

            <noscript>
              <img class="press_image" src="{{ block.settings.image | img_url: '1000x' }}" alt="{{ block.settings.image.alt | escape }}">
            </noscript>

            <a href="{% if block.settings.article_url != blank %}
              {block.settings.article_url %}{% endif %}
              {% if block.settings.article_pdf != blank %}
              {block.settings.article_pdf %}{% endif %}
            " class="press_image_dida">
              <div class="press_title">
                <h2>{{ block.settings.article_title}}</h2>
                <span>{{ block.settings.article_author}}</span>
              </div>
              <div class="press_info_container">
                <div class="press_info">
                  <strong>{{ block.settings.article_headline}}</strong>
                  {{ block.settings.article_date}}
                </div>
                <div class="press_icon">
                  {% if block.settings.article_link != blank %}
                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.0935 20.5505H0.449219V0.90625H10.2713V1.9652H1.50817V19.4916H19.0345V10.7284H20.0935V20.5505Z" fill="#1D1D1B"/>
                    <path d="M13.6111 0V1.05895H19.1939L9.89844 10.3544L10.6468 11.1028L19.9422 1.80728V7.39007H21.0012V0H13.6111Z" fill="#1D1D1B"/>
                    </svg>
                  {% endif %}
                    {% if block.settings.article_pdf != blank %}
                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.90225 15.0562C7.93418 15.5221 7.73353 15.9744 7.36643 16.2632C6.94233 16.5634 6.43006 16.7139 5.91096 16.6896H5.22161V18.3206H4.14844V13.353H5.91096C6.43158 13.3165 6.94765 13.4678 7.36643 13.7794C7.71909 14.1092 7.91441 14.5744 7.90225 15.0578V15.0562ZM6.8306 15.0562C6.83516 14.8434 6.75232 14.6382 6.60031 14.4885C6.40574 14.3327 6.15949 14.2567 5.91096 14.2757H5.22161V15.9082H5.91096C6.15949 15.9272 6.40574 15.8512 6.60031 15.6954C6.7432 15.5123 6.82376 15.2888 6.8306 15.0562V15.0562Z" fill="#1D1D1B"/>
                    <path d="M13.342 15.8383C13.3975 16.5254 13.1444 17.2011 12.6527 17.6829C12.069 18.1504 11.3302 18.3784 10.5846 18.3221H8.74609V13.3545H10.5846C11.3036 13.3226 12.0097 13.5491 12.5759 13.9937C13.0973 14.4611 13.3785 15.1391 13.342 15.8383V15.8383ZM12.2689 15.8383C12.2924 15.4104 12.1237 14.9947 11.8098 14.7036C11.4746 14.4041 11.033 14.2506 10.5846 14.2772H9.66498V17.5416H10.4319C11.733 17.4701 12.2696 16.9731 12.2696 15.8383H12.2689V15.8383Z" fill="#1D1D1B"/>
                    <path d="M17.6299 13.3555V14.2075H15.3293V15.3422H17.5509V16.195H15.3323V18.3246H14.3359V13.3555H17.6299Z" fill="#1D1D1B"/>
                    <path d="M22 11.5975H19.0579V8.08235H19.0526L11.9554 0.984375V0.985895H2.9421V11.5975H0V20.1449H2.9421V22.9677H19.0579V20.1449H22V11.5975V11.5975ZM13.0954 3.73646L16.3012 6.9423H13.0954V3.73646ZM11.9554 2.05983V8.08235H17.9847V11.5975H4.01527V2.05983H11.9546H11.9554ZM4.01527 21.8937V20.1449H17.984V21.8937H4.01527ZM20.8599 19.0048H1.14005V12.7376H20.8599V19.0048Z" fill="#1D1D1B"/>
                    </svg>


                  {% endif %}
                </div>
              </div>
            </a>

          </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>



{% schema %}
{
  "name": "Inspiration",
  "class": "shopify-section--inspiration",
  "max_blocks": 50,
  "settings": [

  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "article_title",
          "label": "Article Title"
        },
        {
          "type": "text",
          "id": "article_author",
          "label": "Article author"
        },
        {
          "type": "text",
          "id": "article_headline",
          "label": "Article headline"
        },
        {
          "type": "text",
          "id": "article_date",
          "label": "Article date"
        },
        {
          "type": "url",
          "id": "article_link",
          "label": "Pdf Link (add it to the media library and then copy the link)"
        },
        {
          "type": "url",
          "id": "article_pdf",
          "label": "Article Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Press",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
